body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading{
    margin-right: 50px;
  }

  .heading p{
    font-size: 25px;
    color: #555;
  }
h1{
  color: blue;
  font-weight: bold;
  font-size: 70px;
}
  .login-container {
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
  
  }


  .login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group input {
    width: 100%;
    padding: 15px;
    margin: 8px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .form-group button {
    background-color:blue;
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
  }