body {
    margin: 0;
    padding: 0;
}

.container1 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 3rem;
    color: #0653b7;
}

.text-content p {
    font-size: 1.5rem;
}

.text-content {
    margin: 25px;
   padding-left: 10px;
   padding-right: 10px; 
    background-size: cover;
}

.login-content {
    margin: 25px;
    padding: 25px;
    
    background-size: cover;
    text-align: center;
}

.login-form {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    background-color: #1877f2;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: none;
}

input,
button,
label {
    border-radius: 5px;
    border: none;
    margin: 10px;
    width: 300px;
    height: 40px;
}

a {
    text-decoration: none;
    color: #1877f2;
}

a:hover {
    text-decoration: underline;
}